html,
body {
  background: #333;
  margin: 0;
}

:root {
  --svg-width: 320px;
  --svg-height: 60px;
  --dash-length: calc((var(--svg-width) + var(--svg-height)) * 2);
  --underline-length: 140px;
}

.shape {
  stroke-dasharray: var(--underline-length)
    calc(var(--dash-length) - var(--underline-length));
  stroke-dashoffset: calc(
    var(--underline-length) - var(--svg-width) - var(--svg-height) -
      (var(--svg-width) / 2) - (var(--underline-length) / 2)
  );
  stroke-width: 8px;
  stroke: #19f6e8;
}

.svg-wrapper {
  position: relative;
  width: var(--svg-width);
  height: var(--svg-height);
}

.text {
  position: absolute;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes draw {
  100% {
    stroke-dasharray: var(--dash-length);
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
